<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link href="Style.css" rel="stylesheet" />
        @RenderSection("head", required: false)
    </head>
    <body>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>
