<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@Page.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0 intial-scale=1" />
        <link href="Bootstrap.css" rel="stylesheet" />
        @RenderSection("head", required: false)
    </head>
    <body>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>