<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@Page.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0 intial-scale=1" />
        <link href="Bootstrap.css" rel="stylesheet"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        @RenderSection("head", required: false)
    </head>
    <body>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>