@{
  Page.Title = "Title goes here";
  Layout = "_Layout.cshtml";

  // Open Database Connection
  Database db = Database.Open("PlanetInc");
  
  // Test Query
  const string queryString = "SELECT * FROM Asdf";
}

<div>

  @*Test Query Values*@
  <table>
    <tbody>
    @foreach (var row in db.Query(queryString))
    {
      <tr>
        <td>@row.Id</td>
        <td>@row.name</td>
      </tr>
    }
    </tbody>
  </table>
  @*Test Query Values*@

</div>

<form method="POST">
  <h3>Login</h3>
  <fieldset>
    <label for="email">Email: </label>
    <input id="email" name="username" type="email" required/>

    <label for="password">Password: </label>
    <input id="password" name="password" type="password" required/>

    <input id="submit" type="submit" value="Submit"/>
  </fieldset>
</form>

@{
  // Close Database Connection
  db.Close();
}