@{
  Page.Title = "Title goes here";
  Layout = "_Layout.cshtml";

  // Open Database Connection
  Database db = Database.Open("IISServer");
  
  // Test Query
  const string queryString = "SELECT * FROM Asdf";
}

<div>

  @*Test Query Values*@
  <table>
    <tbody>
    @foreach (var row in db.Query(queryString))
    {
      <tr>
        <td>@row.Id</td>
        <td>@row.name</td>
      </tr>
    }
    </tbody>
  </table>
  @*Test Query Values*@

</div>

@{
  // Close Database Connection
  // Is this necessary?
  db.Close();
}