@using System.Data
@using System.Data.SqlClient

@{
    Page.Title = "Title goes here";
    Layout = "_Layout.cshtml";

    var db = Database.Open("IISServer");
    string queryString = "SELECT r.Id, r.Terrain, r.Price, r.PlanetId, p.Name FROM Regions AS r JOIN Planets AS p ON r.PlanetId = p.Id";
    var data = db.Query(queryString);


//    Reservation newReservation = new Reservation();

    int lastId = 0;
}



<form method="POST" action="Register.cshtml">
    <input type="hidden" name="clientId" value="1"/>
    <select>
        @foreach (var row in data)
        {
            if (row.PlanetId != lastId)
            {
                lastId = row.PlanetId;
                <optgroup label="@row.Name"></optgroup>
            }
            <option>&nbsp;Region @row.Id --- $@row.Price</option>
        }
    </select>
    <input type="date" name="startDate" id="startDate"/>
    <input type="date" name="endDate"/>
</form>