@using System.Data
@using System.Data.SqlClient

@{
    Page.Title = "Title goes here";
    Layout = "_Layout.cshtml";

    var db = Database.Open("IISServer");
    string queryString = "SELECT r.Id, r.Terrain, r.Price, r.PlanetId, p.Name FROM Regions AS r JOIN Planets AS p ON r.PlanetId = p.Id";
    var regions = db.Query(queryString);

    if (!Request.Form.ToString().IsEmpty())
    {
        Reservation r= new Reservation(1,
             Convert.ToInt32(Request.Form["regionId"]),
             Convert.ToDateTime(Request.Form["startDate"]),
             Convert.ToDateTime(Request.Form["endDate"])
         );

        if (r.isReserved)
        {
            <p>Sorry, that region is already reserved. Please choose a different time.</p>
        } else {
            <p>Your reservation has been made!</p>
        }
    }

    int lastPlanetId = 0;
}



<form method="POST" action="Reserve.cshtml" name="register">
    <input type="hidden" name="clientId" value="1"/>
    <select name="regionId">
        @foreach (var row in regions)
        {
            if (row.PlanetId != lastPlanetId)
            {
                lastPlanetId = row.PlanetId;
                <optgroup label="@row.Name"></optgroup>
            }
            <option value="@row.Id">Region @row.Id --- $@row.Price</option>
        }
    </select>
    <input type="date" name="startDate" required=""/>
    <input type="date" name="endDate" required=""/>

    <input type="submit" />
</form>