@using System.Data
@using System.Data.SqlClient

@{
    Page.Title = "Title goes here";
    Layout = "_Layout.cshtml";

    var db = Database.Open("IISServer");
    string queryString = "SELECT r.Id, r.Terrain, r.Price, r.PlanetId, p.Name FROM Regions AS r JOIN Planets AS p ON r.PlanetId = p.Id";
    var regions = db.Query(queryString);

    if (!Request.Form.ToString().IsEmpty())
    {
       Reservation r= new Reservation(0, 
            Convert.ToInt32(Request.Form["planetId"]), 
            Convert.ToDateTime(Request.Form["startDate"]), 
            Convert.ToDateTime(Request.Form["endDate"])
        );
        
    }
    
    int lastPlanetId = 0;
}



<form method="POST" action="Reserve.cshtml" name="register">
    <input type="hidden" name="planetId" value="1"/>
    <select>
        @foreach (var row in regions)
        {
            if (row.PlanetId != lastPlanetId)
            {
                lastPlanetId = row.PlanetId;
                <optgroup label="@row.Name"></optgroup>
            }
            <option>Region @row.Id --- $@row.Price</option>
        }
    </select>
    <input type="date" name="startDate" id="startDate"/>
    <input type="date" name="endDate"/>

    <input type="submit" />
</form>